section.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

  img.logo {
    height: 33.51px;
    margin-bottom: 40px;
    width: 54px;
  }

  div.calculadora-gorjeta {
    padding: 20px;
    border-radius: 8px;
    background-color: var(--white);
    display: flex;
  }

    div.comandos {
      width: 300px;
      margin-right: 25px;
    }

      ul.porcentagens {
        display: flex;
        flex-wrap: wrap;
      }

        li.porcentagem {
          list-style-type: none;
          margin-right: 15px;
          margin-bottom: 20px;
        }

        li.porcentagem:nth-child(3n) {
          margin-right: 0px;
        }

        li.porcentagem:nth-last-child(-n + 3) {
          margin-bottom: 0px;
        }

          button.botao {
            border: none;
            border-radius: 5px;
            font-family: "Space Mono", monospace;
            font-size: 2rem;
            font-weight: 700;
            padding: 3px 0;
            width: 90px;
            transition: all 0.3s;
          }

          button.padrao {
            color: var(--white);
            background: var(--very-dark-cyan);
          }

          button.padrao:hover {
            background: var(--strong-cyan);
            color: var(--very-dark-cyan);
            cursor: pointer;
          }

          button.focus {
            background: var(--strong-cyan);
            color: var(--very-dark-cyan);
          }

          input.porcentagem-custom {
            width: 90px;
            height: 35px;
          }

          input.focus {
            border: 2px solid var(--strong-cyan);
          }

    div.bill, div.numero-pessoas {
      position: relative;
    }

      img.logo-dolar, img.logo-numero-pessoas{
        position: absolute;
        left: 8px;
        top: 32px;
      }

      div.legenda-input {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

    div.bill,
    div.tipo-porcentagem {
      margin-bottom: 25px;
    }
  
    div.display {
      background: var(--very-dark-cyan);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      width: 300px;
    }

      button.botao-reset {
        background: var(--dark-grayish-cyan);
        border: none;
        border-radius: 4px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 10px 0;
        transition: all .3s;
      }

        button.botao-reset:hover {
          background: var(--light-grayish-cyan);
          cursor: pointer;
        }
    
      div.display-dados {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      div.display-dados:first-child {
        margin-bottom: 30px;
      }

        div.descricao
        h2 {
          color: var(--white);
          font-size: 1.4rem;
        }

        div.descricao p {
          color: var(--strong-cyan);
          font-size: 0.8rem;
        }

        h3.tip-amount {
          font-size: 3.2rem;
          color: var(--strong-cyan);
        }


        h3.valor-total {
          font-size: 3.2rem;
          color: var(--strong-cyan);
        }

@media screen and (max-width: 425px){
  section.container {
    justify-content: end;
    height: auto;
    width: auto;
  }
  section.container img.logo {
    width: 87px;
    height: 54px;
  }
  section.container div.calculadora-gorjeta {
    align-items: center;
    border-radius: 24px;
    flex-direction: column;
    width: 100%;
  }
  section.container div.calculadora-gorjeta div.comandos {
    margin-bottom: 30px;
    margin-right: 0px;
  }
}